body{
    background-image: linear-gradient(rgb(179, 182, 179), rgb(130, 133, 130));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        }
        .form-signin .checkbox {
        font-weight: 400;
        }
        .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        }
        .form-signin .form-control:focus {
        z-index: 2;
        }
        .form-signin input{
        margin: -1px;
        border-radius: 0;
        }
.table{
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: auto;
    padding: 1em;
}